@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body{
   
    /*--dist: 20vmin;*/
    --item_count: 6;
    --rot_offset: 90deg;
    /*justify-content: center;
    align-items: center;
    display: flex;
    */
}

*{
    margin: 0;
    padding: 0;
}


.outer {
        
    --angle: calc(360deg * var(--index) / var(--item_count) - var(--rot_offset));
    transform:  translate(-50%, -50%) rotate(var(--angle)) translate(var(--dist)) rotate(calc(-1 * var(--angle))) !important;
    transition: all 1s;
  }
.class {
    height: 12vmin;
    width: 12vmin;
    left: 50%;
    top: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 50%;
    transform:  translate(-50%, -50%);
    z-index: 1;
    /* pointer-events: none;  */
  }
  .hov {
    pointer-events: all;
    height: 10vmin;
    width: 10vmin;
    left: 50%;
    top: 50%;
    /*background-color: green;*/
    position: absolute;
    border-radius: 50%;
    transform:  translate(-50%, -50%);
  }
  .hov:hover {
    width: 45vmin;
    height: 45vmin;
  }
  .hov:hover > .outer {
    --dist: 18vmin ;
    --rot_offset: calc(90deg );
    /* pointer-events: all; */
  }
  .hov:not(:hover) > .outer {
    --dist: 0vmin ;
    --rot_offset: 0deg;
  }

  .outer:hover {
    --dist: 20vmin !important;
    background-color: rgb(255, 255, 255);
  }

div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.middle {
    height: 17vmin;
    width: 17vmin;
    background-color: white;
    z-index: 2;

}

nav{
    font-family: 'Fredoka', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    color: white;
    margin-left: 50px;
}

nav ul li{
    padding: 0 12px;
    font-size: 1.4rem;
    font-style: fredoka;
    text-decoration: none;
}

nav ul li a{
    color: black;
    padding: 0 12px;
    font-size: 1.4rem;
    text-decoration: none;
}

.icons img{
    width: 40px
}

.icons{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.container{
    min-height: 27vh;
}

.bottom{
    width: 97%;
    height: 90px;
    background-color: #291348;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* justify-content: center; */
    border-radius: 12px;
}

.bottom .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.bottom .wave .wave1{
    width: 3px;
    height: 10px;
    background: #2F203B;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}
.bottom .wave .wave1:nth-child(2){
    height: 13px; 
    margin-right: 3.5px;
    animation-delay: .4s;
}
.bottom .wave .wave1:nth-child(3){
    height: 8px; 
    animation-delay: .8s;
}

/* javascript class */
.bottom .wave .active1 .wave1{
    animation: wave .5s linear infinite;
}
.bottom .wave .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}
.bottom .wave .active1 .wave1:nth-child(3){
    animation-delay: .4s;
}
@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

.bottom img {
    width: 35px;
    height: 35px;
}

.bottom h5 {
    width: 130px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
}

.bottom .subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    color: rgb(209, 204, 204);
    width: 100px;
}

.bottom .play_icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

.bottom span {
    color: #fff;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight: 400;
}

.bottom #currentStart {
    margin: 0px 0px 0px 20px;

}
.bottom .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgba(109, 27, 132, 0.829);
    margin: 0px 15px 0px 10px;

}

.bottom .bar .bar2{
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(211, 155, 254);
    top: 0;
    transition: 1s linear;
}

.bottom .bar .dot{
    position: absolute;
    width: 5%;
    height: 5%;
    background: rgba(101, 32, 114, 0.1);
    border-radius: 50%;
    left: 0%;
    top: -2px;
    transition: 1s linear;
}

.bottom .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #a681c3;
    border-radius: 50%;
    left: -7px;
    right: -6.5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px #543b69;
}

.bottom .bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer,
    z-index: 99999999999;
    opacity: 0;
}

.bottom .vol{
    position:relative;
    width: 100px;
    height: 2px;
    background: rgba(109, 27, 132, 0.829);
    margin-left: 120px;
    
}
.bottom .vol .bi{
    position:absolute;
    color: #fff;
    font-size: 25px;
    top: -15px;
    left: -60px;  
}
.bottom .vol input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 100px; 
    cursor: pointer;
    z-index: 99999999999;
    opacity: 0;
}

.bottom .vol .vol_bar {
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(211, 155, 254);
    top: 0;
    /* left: 120px; */
    transition: 1s linear;
}

.bottom .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(101, 32, 114, 0.1);
    border-radius: 50%;
    left: 0%;
    top: -0.5px;
    transition: 1s linear;
}

.bottom .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #a681c3;
    border-radius: 50%;
    left: -7px;
    right: -6.5px;
    top: -7px;
    box-shadow: inset 0px 0px 3px #543b69;
}





.playBar{
    margin-top: 14px;
    display: flex;
    gap: 1em;
}

.playBar i{
    cursor: pointer;
    padding: 10px 0;
    
}

.bottom .playBar img {
    width: 30px;
    height: 35px;
    margin-left: 0px;
}

#myProgressBar{
    width: 80vw;
}

.aurora-outer {
    background: linear-gradient(45deg, #CCC1F0 0%, #543b69 49%, #2F203B 82%);
    /*background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);*/
    background-size: 200%;
    animation: aurora 10s infinite;
}

.aurora-inner {
    background: radial-gradient(rgba(184, 61, 61, 0), rgba(255, 255, 255, 0.15));
    background-size: 200%;
    animation: aurora 7s infinite;
}

@keyframes aurora {

    0% {

        background-position: left top;

    }

    25% {

        background-position: right top;

    }

    50% {

        background-position: right bottom;

    }

    75% {

        background-position: left bottom;

    }

    100% {

        background-position: left top;

    }

}


.menu_side {
    width: 25%;
    height: 90%;
    margin-left: 50px;
    /* border: 1px solid #fff; */
    display: flex;
}
.menu_side .menu_song h1 {
    font-size: 25px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
}

.menu_side .menu_song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 100px;
    margin-left: 80px;
}

.menu_side .menu_song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.menu_side .menu_song li:hover {
    background: rgb(105, 105, 105, .1);
}

.menu_side .menu_song li span {
    font-size: 32px;
    font-weight: 600;
    color: #fff;

}

.menu_side .menu_song li img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    
}

.menu_side .menu_song li h5 {
    font-size: 22px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    
}

.menu_side .menu_song li h5  .subtitle {
    font-size: 15px;
}


/* left menu
.menu_side2 {
    width: 25%;
    height: 90%;
    margin-left: 50px;
    /* border: 1px solid #fff; */
    display: flex;
}
.menu_side2 .menu_song h1 {
    font-size: 25px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
}

.menu_side2 .menu_song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 100px;
    margin-left: 80px;
}

.menu_side2 .menu_song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.menu_side2 .menu_song li:hover {
    background: rgb(105, 105, 105, .1);
}

.menu_side2 .menu_song li span {
    font-size: 32px;
    font-weight: 600;
    color: #fff;

}

.menu_side2 .menu_song li img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    
}

.menu_side2 .menu_song li h5 {
    font-size: 22px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    
}

.menu_side2 .menu_song li h5  .subtitle {
    font-size: 15px;
} */



@keyframes aurora {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}


nav ul li button{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 240px;
    margin-top: 20px;
    
}

/* #playlist-wrapper {
    height: 40px;
    width: 25px;
    margin-top: 200px;
    margin-left: 1400px;
    background-color: #543b69;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #fff; */
  }
  .playlist {
    margin-top: 20px ;
    /* opacity: 50%; */
    background-color:black;
    height: 75px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    

  }
  .playlist:hover {
    opacity: 80%;
  }


  .spotify-playlists{
    border: 1px solid #fff;
    /* width: 25%;
    height: 25%;
    padding: 20px 40px; */
    width: 25%;
    height: 90%;
    margin-left: 20px;
    /* border: 1px solid #fff; */
    display: flex;

}

.spotify-playlists h2{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.spotify-playlists .list{
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.spotify-playlists .list .item{
    min-width: 140px;
    width: 60px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover{
    background-color: #252525;
}

.spotify-playlists .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play{
    position: relative;
}

.spotify-playlists .list .item .play img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -60px;
    right: 10px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play img{
    opacity: 1;
    transform: translate(-20px);
}

.spotify-playlists .list .item h4{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
} */

/*
#circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #544C84;
    text-align: center;
  }*/